main {
  display: flex;
}
.containerImagem {
  background-image: url("../../assets/Tela Login/imagem tela de login.png");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  height: 100vh;
  width: 60%;
}
.containerForm {
  //border: solid blue;
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  h1 {
    width: 50%;
    font-size: 2rem;
    font-weight: 700;
    text-align: center;
    font-family: "inter", sans-serif;
  }
  p {
    font-weight: 700;
    font-size: 1rem;
    color: #0844c4;
  }
}

.formLogin {
  //border: solid;
  display: flex;
  flex-direction: column;
  width: 70%;
  height: 20vh;
  justify-content: space-between;
  align-items: center;

  a {
    font-size: 1rem;
    color: #23282f;
    font-weight: 400;
    text-decoration: none;
  }
  input {
    width: 20vw;
    height: 5vh;
    border-radius: 6px;
    border: 0.8px solid #cbd4e1;
  }
  input:hover {
    border: 0.8px solid #001a3d;
  }
  div {
    width: 50%;
    display: flex;
    justify-content: space-evenly;

    .buttonEntrar {
      background-color: #001a3d;
      border: 0.8px solid #cbd4e1;
      width: 6vw;
      height: 5vh;
      border-radius: 6px;
      color: #f1f4f9;
    }
    .buttonCriar:hover {
      background-color: #00aac7;
    }
    .buttonCriar {
      background-color: #00bedd;
      border: 0.8px solid #cbd4e1;
      width: 6vw;
      height: 5vh;
      border-radius: 6px;
      color: #f1f4f9;
    }
  }
}
