.headerSolicitacao{
    //border: solid red;
    width: 20%;
    
    }

    .layoutSolicitacao{
        display: flex;
        //border: solid pink;
    }
    .containerPrincipalSolicitacao{
        width: 95%;
    }
    .mainSolicitacao{
        //border:  solid blue;
        display: flex;
        width: 100%;
        height: 85%;
        flex-direction: column;
    }
.formSolicitacao{
    display: flex;
    justify-content: space-between;
    width: 100%;
    //border: solid red;
}

//Estilização padrão dos inputs, select e label.
//Quando o padrão de mais de um item for o mesmo, mencionar eles separando com virgula e a chaves será aberta no último.
input,
select{ 
    width: 100%;
    height: 4vh;
    border-radius: 6px;
    border: 0.8px solid #cbd4e1;
}

label{ 
    color: #23282f;
    font-weight: 700;
    font-size: 1.1rem;
}

//Estilização do grupo 1

.grupo1{
   //border: solid;
    width: 35%;
    height: 25vh;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    // a tag flex-wrap ele le o tamanho dos elementos e joga para a linha de baixo 
    justify-content: space-evenly; 
}

.inputNome{
    //border: solid red;
    width: 45%;
}
.inputEmpresa{
    //border: solid red;
    width: 25%;
}
.inputPrestacao{
    //border: solid red;
    width: 25%;
}
.inputMotivo{
   // border: solid red;
    width: 98%;
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    textarea{
    height: 5vh;
    }
}

//Estilização da barra

.barraVertical{
    height: 25vh;
    width: 0.1vw;
    background-color: #cbd4e1;
}

//Estilização grupo 2

.grupo2{
    //border: solid green;
    width: 60%;
    height: 25vh;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
}

.inputData{
    //border: solid red;
    width: 25%;
}

.tipoDeDespesa{
    //border:  solid blue;
    width: 30%;
}

.centroDeCusto{
    //border:  solid green;
    width:  40%;
}

.ordem, .divisoes, .pep, .distancia{
    //border:  solid purple;
    width: 8%;
}

.moeda, .valorKm, .valorFaturado, .despesa{
   // border: solid pink;
    width: 12%;
}
.botoes{
    //border:  solid red;
    width: 15%;
    height: 2vh;
    display: flex;
    justify-content: space-between;
}

.botaoSalvar{
    border: solid #001A3D ;
    border-radius: 6px;
    background-color: #001A3D;
    color: #ffffff;
    width: 5vw;
    height: 4vh;
    font-size: 1rem;
    font-weight: 700;
}
.botaoDeletar{
    border:  solid #00BEDD;
    border-radius: 6px;
    background-color: #00BEDD;
    color: #ffffff;
    width: 3vw;
    height: 4vh;
}

//Estilização da tabela

table{
    width: 100%;
    //border:  solid yellow;
    border-collapse: collapse;
    font-size: 1rem;
}
//Cabeçalho da tabela
th{
    background-color: #cbd4e1;
    font-weight: 400;
    font-size: 1rem;
    color:#23282f;
    
}

th, td{
    border:  solid #000000 0.8px;
    text-align: center;
}
.total{
    //border:  solid;
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.totalFaturado{
//border: solid;
width: 10vw;
}
.totalDespesa{
    //border:  solid;
    width: 10vw;

}
.botoesAnalise{
    //border:  solid red;
    width: 30%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    
}

.botaoEnviarAnalise{
    border: solid #001A3D ;
    border-radius: 6px;
    background-color: #001A3D;
    color: #ffffff;
    width: 15vw;
    height: 5vh;
    font-size: 1rem;
    font-weight: 700;
}

    .cancelar{
        border: solid #A60B2F ;
        border-radius: 6px;
        background-color: #A60B2F;
        color: #ffffff;
        width: 15vw;
        height: 5vh;
        font-size: 1rem;
        font-weight: 700;
    }