.navBarEstilo {
  height: 100vh;
  width: 5%;
  //border: 0.8px solid blue;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  padding: 1rem 0;

  button {
    background-color: #0844c4;
    width: 60%;
    height: 5vh;
    border-radius: 6px;
  }

  .buttonSair {
    background-color: #63758d;
  }

  section {
    //border: solid red;
    width: 100%;
    height: 70vh;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;

    .boxButton {
      //border: solid green;
      width: 100%;
      height: 35vh;
      display: flex;
      justify-content: space-evenly;
      flex-direction: column;
      align-items: center;
    }
  }
}
